#IDE stuff
.ipynb_checkpoints/
.spyderworkspace

#old data, keep for ref locally
hard-alignment-anonymous/

#python stuff
__pycache__/
build/
dist/
pyannote.db.plumcot.egg-info/

#stuff necessary for forced-alignment
#see https://github.com/PaulLerner/Forced-Alignment
Plumcot/data/*/transcripts/*.anonymous
Plumcot/data/*/transcripts/*.brackets

#vrbs forced-alignment output
#see https://github.com/PaulLerner/Forced-Alignment
Plumcot/data/*/forced-alignment/*.xml

#gecko compliant json file of forced-alignment
#see https://github.com/PaulLerner/Forced-Alignment
Plumcot/data/*/forced-alignment/*.json

#NFS
.nfs*
