#IDE stuff
.ipynb_checkpoints/
.spyderworkspace

#old data, keep for ref locally
hard-alignment-anonymous/

#python stuff
__pycache__/
build/
dist/
pyannote.db.plumcot.egg-info/

#stuff necessary for forced-alignment
#see https://github.com/PaulLerner/Forced-Alignment
Plumcot/data/*/transcripts/*.anonymous
Plumcot/data/*/transcripts/*.brackets
Plumcot/data/*/transcripts-no_loc/*.brackets

#vrbs forced-alignment output
#see https://github.com/PaulLerner/Forced-Alignment
Plumcot/data/*/forced-alignment/*.xml
Plumcot/data/*/forced-alignment-no_loc/*.xml

#gecko compliant json file of annotations
#see https://github.com/PaulLerner/Forced-Alignment
Plumcot/data/*/forced-alignment/*.json
Plumcot/data/*/serial_speakers/*.json
Plumcot/data/*/forced-alignment-no_loc/*.json

#NFS
.nfs*

#images (jpg)
images/

#video (features)
video/
#video (ad-hoc scripts for LIMSI)
scripts/video.sh
scripts/video_per_season.sh

#manually-corrected JSON files
!*.manual.json

# save files
*.save

# SWP files
*.swp

#colors (used in gecko)
colors/
